<!DOCTYPE html>

<html>

<head lang="en">
    <!-- Scripts -->
    <script src="{{STATIC_URL}}javascript/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    {% block javascript %}{% endblock %}
    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/main.css">
    {% block css %}{% endblock %}

    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

</head>

<body>
    <nav class="navbar navbar-default">
        <div class ="col-xs-offset-3 col-xs-6">
        <div class="container-fluid">
            <div >
                <ul class="nav navbar-nav">
                    <li><a href="/">RateMy</a></li>
                    <li><a href="#">Profile</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                    <li class="navbar-text">Logged in as <span style="color: #33CCCC">{{ current_user.username }}</span></li>
                    <li><a href="/logout/">Logout</a></li>
                    {% else %}
                    <li><a href="/signup/">Sign Up</a></li>
                    <li><a href="/login/">Login</a></li>
                    {% endif %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        </div>
    </nav>

    <div class ="col-xs-offset-3 col-xs-6">
        <div id="content-container">
            {% block body_block %}{% endblock %}
        </div>
    </div>

    <div id="footer">
    </div>

</body>

</html>