<!DOCTYPE html>

<html>

<head lang="en">
    <!-- Scripts -->
    <script src="{{STATIC_URL}}javascript/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="{{STATIC_URL}}javascript/main.js"></script>
    {% block javascript %}{% endblock %}
    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/main.css">
    {% block css %}{% endblock %}

    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

</head>

<body>
    <nav class="navbar">
        <div class ="col-xs-offset-3 col-xs-6">
        <div class="container-fluid">
            <div >
                <ul class="nav navbar-nav">
                    <li><a href="/">RateMy</a></li>
                    <li>
                        <form class="form-search navbar-form" action="/search/" method="post">
                            {% csrf_token %}
                            <div class="input-group">
                                <input type="text" name="search" class="form-control" placeholder="Search">
                                <span class="input-group-btn">
                                    <button type="submit" value ="Search" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                                </span>
                            </div>
                        </form>
                    <li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                    <li class="navbar-text">Logged in as <span style="color: #464646">{{ current_user.username }}</span></li>
                    <li><a href="/logout/">Logout</a></li>
                    {% else %}
                    <li><a href="/signup/">Sign Up</a></li>
                    <li><a href="/login/">Login</a></li>
                    {% endif %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        </div>
    </nav>

    <div id="main-container">
        <div id="main-content">
            {% block body_block %}{% endblock %}
        </div>
    </div>

    <div id="footer">
    </div>

</body>

</html>