{% extends 'base.html' %}

{% block title %}RateMy{% endblock %}

{% block body_block %}

<h1>Pages</h1>

<ul class="list-group">
    {% load app_filters %}
    {% for ratedmodel in ratedmodels %}
    <li class="list-group-item">
        <div class="row">
            <div class ="col-xs-3">
                <img src="http://placehold.it/200x200">
            </div>
            <div class ="col-xs-9">
                <p><a href="/{{ ratedmodel.name_key }}">{{ ratedmodel.name }}</a></p>
                {{ ratedmodel.description }}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>

{% if current_user.is_authenticated %}
<a href="/ratedmodel/create">
    <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-plus"></span>
        Create a "Rate My Page"
    </button>
</a>
{% endif %}

{% endblock %}