<!DOCTYPE html>
 
<html>
 
<head lang="en">
	<link rel="stylesheet" href="{{STATIC_URL}}css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
 
    <meta charset="UTF-8">
 
    <title>Tuts+ Django Example</title>
 
</head>
 
<body>
 
<h1>Welcome to your Django Site.</h1>
 
<h3>Here are your objects:</h3>
 
<p>
 
    <ul class="list-group">
 
    {% for user in users %}
 
    <li class="list-group-item">
 
        {{ user.name }}
 
    </li>
 
    {% endfor %}
 
    </ul>
 
</p>
 
 
 
</body>
 
</html>