{% extends 'base.html' %}

{% block body_block %}

<p>Rated Object Name: {{ ratedobject.name }}</p>
<p>Rated Object Id: {{ ratedobject.id }}</p>
<p>Rated Model Id: {{ ratedobject.ratedmodel_id}}</p>
<p>
    Description:
    {{ ratedobject.description }}
</p>

{% if current_user.is_authenticated %}
<!-- Button trigger modal -->
{% load app_filters %}
<a href="review/create">
    <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-plus"></span>
        Add Review
    </button>
</a>
{% endif %}

{% endblock %}