{% extends 'base.html' %}

{% block body_block %}

<div class="title-container">
    <h1>{{ ratedmodel.name }}</h1>
    {% if current_user.userprofile.id == ratedmodel.creator_id %}
    <div class="edit-item edit-model">
        <a href="edit">
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-pencil"></span>
                Edit
            </button>
        </a>
    </div>
    {% endif %}
</div>

<p>
    {{ ratedmodel.description }}
</p>

<p>
    Attributes:
    <ul>
    {% for attribute in attributes %}
    <li>{{ attribute.name }}</li>
    {% endfor %}
    </ul>
</p>

<ul class="list-group">
    {% load app_filters %}
    {% for ratedobject in ratedobjects %}
    <li class="list-group-item">
        <div class="row">
            <div class ="col-xs-3">
                <img style="width:100%"src="http://placehold.it/200x200">
            </div>
            <div class ="col-xs-9">
                <div class="object-container">
                    <div class="object-name inline">
                        <a href="{{ ratedobject.name|strip_non_alphanum }}/{{ ratedobject.id }}">{{ ratedobject.name }}</a>
                    </div>
                    <div style="margin-left: 10px" class="badge grade-badge aggregate-grade inline">
                        {% if ratedobject.overall_grade %}
                        {{ ratedobject.overall_grade|floatformat:1 }}
                        {% else %}
                        -
                        {% endif %}
                    </div>
                    <br>
                    <div class="object-description">
                        {{ ratedobject.description }}
                    </div>
                </div>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>

{% if current_user.is_authenticated %}
<a href="create">
    <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-plus"></span>
        Add a {{ ratedmodel.name }} item
    </button>
</a>
{% endif %}

{% endblock %}