{% extends 'base.html' %}

{% block body_block %}

<h1>{{ ratedmodel.name }}</h1>

<p>
    Description:
    {{ ratedmodel.description }}
</p>

<p>
    Attributes:
    <ul>
    {% for attribute in attributes %}
    <li>{{ attribute.name }}</li>
    {% endfor %}
    </ul>
</p>

<ul class="list-group">
    {% load app_filters %}
    {% for ratedobject in ratedobjects %}
    <li class="list-group-item">
        <div class="row">
            <div class ="col-xs-3">
                <a href="{{ ratedobject.name|removewhitespace }}/{{ ratedobject.id }}">{{ ratedobject.name }}</a>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>

{% if current_user.is_authenticated %}
<a href="create">
    <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-plus"></span>
        Add a {{ ratedmodel.name }} item
    </button>
</a>
{% endif %}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Rated Object</h4>
            </div>
            {% load app_filters %}
            <form id="addRatedObject" method="post" action="create/">
                <div class="modal-body">
                    {% csrf_token %}
                    {{ ratedobject_form.as_p }}
                    name: <input type="text" name="name" value="" size="50" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-default" value="submit" />
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}