{% extends 'base.html' %}

{% block body_block %}

<h4 class="list-group-item-heading ">RatedObjectName: {{ ratedobject.name }}</h4>
<h2 class="list-group-item-heading ">RatedObjectId: {{ ratedobject.id }}</h2>
<h1 class="list-group-item-heading ">RatedModelId: {{ ratedobject.rated_model_id}}</h1>

{% if current_user.is_authenticated %}
<!-- Button trigger modal -->
{% load app_filters %}
<a href="review/create">
    <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-plus"></span>
        Add Review
    </button>
</a>
{% endif %}

{% endblock %}