{% extends 'base.html' %}

{% block body_block %}

<div class="form-container">
    <h1>Edit {{ ratedmodel.name }}</h1>

    <form class="form-horizontal" method="post" action="">
        {% csrf_token %}
        <label class="field-wrapper">
            Name:
            <div class="form-input">
                {{ ratedmodel_form.name }} {{ ratedmodel_form.name.errors.as_text }}
            </div>
        </label>
        <label class="field-wrapper">
            Description:
            <div class="form-input">
                {{ ratedmodel_form.description }} {{ ratedmodel_form.description.errors.as_text }}
            </div>
        </label>

        {% for errors in attribute_formset.errors %}
            {% for error in errors.values %}
                {{ error }}
            {% endfor %}
        {% endfor %}

        <input type="submit" value="Submit" />
        <div style="float:right" class="delete-model">
            <a href="delete">Delete {{ ratedmodel.name }}</a>
        </div>
    </form>
</div>

{% endblock %}