{% extends 'base.html' %}

{% block body_block %}

<div class="centralized">
    {% load app_filters %}
    <p>Are you sure you wanted to delete {{ ratedmodel.name }}?</p>
    <p>
        <div id="no"><a href="/{{ ratedmodel.name|removewhitespace }}/{{ ratedmodel.id }}"><input type="submit" value="No" /></a></div>
    </p>
    <p>
        <form method="post" action="">
            {% csrf_token %}
            <div id="yes"><input type="submit" value="Yes" /></div>
        </form>
    </p>
</div>

{% endblock %}