{% extends 'base.html' %}

{% block javascript %}
<script src="{{STATIC_URL}}javascript/review_create.js"></script>
{% endblock %}

{% block body_block %}

<div class="form-container">
    <h1>Add Reviews for {{ ratedobject.name }}</h1>

    <form class="form-horizontal" method="post" action="">
        {% csrf_token %}
        {% load app_filters %}
        {{ review_formset.management_form }}
        <div id="review-forms">
            {% for review_form in review_formset %}
                <div class="form-input">
                    <div class="review-form">
                        <div class="row">
                            {{ review_form.attribute_id.as_hidden }}
                            {{ review_form.review_id.as_hidden }}
                            <div class="col-xs-1">
                                {{ review_form.attribute_name.value }}
                            </div>
                            <div class="col-xs-2">
                                {{ review_form.score }} {{ review_form.score.errors.as_text }}
                            </div>
                            <div class="col-xs-2">
                                <input class="score-slider" type="range" min="1" max="5" value="" step="0.1">
                            </div>
                            <div class="col-xs-3">
                                {{ review_form.description }} {{ review_form.description.errors.as_text }}
                            </div>
                            {% if review_form.review_id.value %}
                            <div class="col-xs-1">
                                {{ review_form.is_deleted }}<br>Delete Review
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <input type="submit" value="Submit" />
    </form>

    {% if review_formset.errors %}
    <div id="form-error">ERRORS:
        <ul id="form-error-list">
            {% for i in review_formset.non_field_errors %}
            <li class="form-error">
                {{i}}
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>

{% endblock %}