{% extends 'base.html' %}

{% block body_block %}

  <form class="form-horizontal" method="post" action="">
    {% csrf_token %}
    {% load app_filters %}
    {% for attribute in attributes %}
        <div class="form-group">
          <label id="attributeLabel" class="col-md-2 control-label" for="score">
            <span>{{ attribute.name }}</span>
          </label>
          <div class="col-md-4">
            <input id = "attribute_id" name="attribute_id" type="hidden" value="{{ attribute.id }}">
            <input id="score" name="score" type="number" placeholder="" class="form-control input-md pull-left" required="">

          </div>
        </div>
      {% endfor %}
    </div>
    <input type="submit" class="btn btn-primary col-md-2" value="submit" />
  </form>

{% endblock %}