{% extends 'base.html' %}

{% block body_block %}

<h1>Sign Up</h1>
<form action="/signup/" method="post">
    {% csrf_token %}
    <label class="field-wrapper">
        Username:
        <div class="form-input">
            {{ user_form.username }}
        </div>
    </label>
    <label class="field-wrapper">
        Email:
        <div class="form-input">
            {{ user_form.email }}
        </div>
    </label>
    <label class="field-wrapper">
        Password:
        <div class="form-input">
            {{ user_form.password }}
            {{ user_form.password.errors.as_text }}
        </div>
    </label>
    <label class="field-wrapper">
        Confirm Password:
        <div class="form-input">
            {{ user_form.confirm_password }}
        </div>
    </label>

    {% if user_form.errors %}
    <div id="form-error">ERRORS:
        <ul id="form-error-list">
            {% for i in user_form.non_field_errors %}
            <li class="form-error">
                {{i}}
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <br>
    <input type="submit" value="Submit" />
</form>

{% endblock %}