{% extends 'base.html' %}

{% block javascript %}
<script src="{{STATIC_URL}}javascript/submit_ratedmodel.js"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{STATIC_URL}}css/submit_ratedmodel.css">
{% endblock %}

{% block body_block %}

<h1>Add a Page</h1>

<form class="form-horizontal" method="post" action="">
    {% csrf_token %}
    <label class="field-wrapper">
        Name:
        <div class="form-input">
            {{ rated_model_form.name }}
        </div>
    </label>
    <label class="field-wrapper">
        Description:
        <div class="form-input">
            {{ rated_model_form.description }}
        </div>
    </label>
    <div id="form-hidden-fields">
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
    </div>



    <div class="row">
        <div id="add-attributes">
            <div class="col-xs-2">
                Attribute(s):
            </div>
            <div class="col-xs-5">
                {{ attribute_formset.management_form }}
                <div id="attribute-inputs">
                    {% for attribute_form in attribute_formset %}
                        <div class="form-input">
                            <div class="attribute">
                                {{ attribute_form.as_p }}
                                <p><a class="delete" href="#">Delete</a></p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <p><a id="add" href="#">Add another item</a></p>
            </div>
        </div>
    </div>

    {% if rated_model_form.errors %}
    <div id="form-error">ERRORS:
        <ul id="form-error-list">
            {% for i in rated_model_form.non_field_errors %}
            <li class="form-error">
                {{i}}
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <input type="submit" value="Submit" />
</form>

{% endblock %}