body {
    background-color: #EFF0F1;
}

#main-container {
    background-color: #FFFFFF;
    padding: 10px 30px;
    border-radius: 6px;
}

.form-input {
    padding: 4px;
    display: block;
}

.field-wrapper {
    display: block;
}

.attribute {
    padding: 3px;
    background-color: #E8E8E8;
}